{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<center><img src="{%static 'img/tanya.png' %}" width="250" height="250"></center>
<h2>About Me</h2>
<div class="background">
    <div class="transbox">
        <p>Nama saya Bonifasius Erlangga Einsoni Rienko, biasa di panggil Erlang. Kelebihan yang saya miliki 
            adalah saya selalu dapat berusaha membuat diri saya senang, dan selalu bisa berusaha untuk dapat 
            melihat sesuatu dengan baik walaupun sedang dalam masalah. Kelemahan yang 
            saya meiliki adalah mudah panik.</p>
    </div>
    <button class="back"><a href="home.html">
        <p class="welcome">Back</p>
        </a>
</button>
</div>
{% endblock content %}
