{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <h1>Welcome to My Site</h1>
</div>

<center>
  <button class="profile"><a href="profil.html">
          <img src="{% static 'img/merapi.jpg' %}" width="250" height="250">
          </a>
  </button>
  <p class="welcome">identitas</p>
</center>

<center>
  <button class="profile"><a href="school.html">
          <img src="{%static 'img/logoUI.jpg' %}" width="250" height="250">
          </a>
  </button>
  <p class="welcome">sekolah</p>
</center>

<center>
  <button class="profile"><a href="about.html">
      <img src="{%static 'img/tanya.png' %}" width="250" height="250">
      </a>
</button>
<p class="welcome">about me</p>
</center>

<center>
  <button class="profile"><a href="story1.html">
          <img src="{%static 'img/logoUI.jpg' %}" width="250" height="250">
          </a>
  </button>
  <p class="welcome">Story1</p>
</center>

<center>
  <button class="profile"><a href="{%url 'main:story5' %}">
          <img src="{%static 'img/logoUI.jpg' %}" width="250" height="250">
          </a>
  </button>
  <p class="welcome">Story5</p>
</center>


<div class="container"> 
  <h4>Follow My Social Media</h4>
  <button class="IG"><a href=https://www.instagram.com/bonifasiuserlangga/ target="_blank">
    <img src="{%static 'img/tanya.png' %}" width="80" height="80">
  </a>
  </button>
</div>

{% endblock content %}
