{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<center><img src="{% static 'img/merapi.jpg' %}" width="250" height="250"></center>
        <h2>Identitas</h2>
        <div class="background">
            <div class="transbox">
                <p>Nama: Bonifasius Erlangga Einsoni Rienko</p>
                <p>Tempat dan Tanggal Lahir: Klaten, 29 Juni 2001</p>
                <p>Hobi: Photograph</p>
                <p>Kontak: einsoni_rienko (Line)</p>
                <p>Status: Mahasiswa</p>
                <p>Skills: Programming Language(Python dan Java), Mark-up Language(HTML dan CSS)</p>
                <p>Organisasi: Pernah mengikuti UKM UI</p>
            </div>

            <button class="back"><a href="home.html">
                <p class="welcome">Back</p>
                </a>
        </button>

        </div>
{% endblock content %}
