{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<center><img src="{%static 'img/logoUI.jpg' %}" width="250" height="250"></center>

        <h2>Riwayat Sekolah</h2>
        <div class="background">
            <div class="transbox">
                <p>Playgroup: MaterDei</p>
                <p>Taman Kanak-Kanak: TKK Mater Dei</p>
                <p>Sekolah Dasar: SDK Mater Dei</p>
                <p>Sekolah Menengah Pertama: SMPK Mater Dei</p>
                <p>Sekolah Menengah Atas: SMAN 5 Depok</p>
                <p>Kuliah: Universitas Indonesia, Fakultas Ilmu Komputer, Sistem Informasi</p>
            </div>
            <button class="back"><a href="home.html">
                <p class="welcome">Back</p>
                </a>
        </button>
        </div>  
{% endblock content %}
