{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<center> <h1>Tugas PPW</h1> </center>
<center><img src="{%static 'img/logoUI.jpg' %}" width="250" height="250"></center>
<p>   </p>
<p>   </p>
<center><h2>Identitas</h2> </center>
<p>Nama          : Bonifasius Erlangga Einsoni Rienko</p>
<p>NPM           : 1906302850</p>
<p>Hobi          : Photography</p>
<p>Media Sosial  : bonifasiuserlangga (IG)</p>
<p>Warna Favorite: Hitam atau Putih</p>
<p>Tanggal Lahir : 29 Juni 2001</p>
<p>   </p>
<p>   </p>
<center><h2>Riwayat Sekolah</h2> </center>
<p>Playgroup                : Mater Dei</p>
<p>TK                       : TKK Mater Dei</p>
<p>Sekolah Dasar            : SDK Mater Dei</p>
<p>Sekolah Menengah Pertama : SMPK Mater Dei</p>
<p>Sekolah Menengah Atas    : SMAN 5 Depok</p>
<p>Kuliah                   : Universitas Indonesia, Fakultas Ilmu Komputer, Sistem Informasi</p>

<button class="back"><a href="home.html">
    <p class="welcome">Back</p>
    </a>
</button>
{% endblock content %}
